.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    display: block;
    margin: auto;
}

.button{
    display: block;
    width: 75%;
    color: white;
    margin: auto;
    height: 5%;
}

.header{
    height: 5%;
}

ProductCard{
    height: 80%;
}